
/* Styles for general/mobile */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Proj {
  width: 95vmin;
}

.App-footer {
  min-height: 3vh;
  padding: 15px;
  color: whitesmoke;
}

.selected {
  color: #007f9c;
  text-decoration: none;
}

.App-header {
  background-color: #282c34;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.about .App-header {
  background-color: #007f9c;
}

.projects .App-header {
  background-color: lightskyblue;
}

.contact .App-header {
  background-color: lightcoral;
}

.App-link {
  color: #61dafb;
}

body {
  background-color: #282c34;
  text-align: center;
  font-weight: 500;
}

body a {
  color: whitesmoke;
  text-decoration: none;
}

ul {
  font-size: 20px;
  text-align: center;
  list-style-type: none;
}

  /* Styles for pc screen */
@media only screen and (min-width: 650px) {
  .App-footer {
    background-color: #d4d4d4;
    color: #282c34
  }

  .myheader {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 95%;
  }

  .Showcase {
    display: flex;
    justify-content: center;
    align-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 95%;
    padding: 10px;
  }

  .Showcase li {
    padding: 5px 0;
  }


  body {
      background-color: #d4d4d4;
  }

  body a {
      color: #282c34;
  }
}



